body {}
#messenger-btn{
  display:none;
  margin-top: -30px;
}

#my-botui-app{
  margin-top: -25px;
  background: transparent;
}
@media (max-width: 576px) {
  #my-botui-app{
    margin-top: 0;
  }
}
.botui-container{
  height:auto;
  max-height:100%;
}
.botui-message-content.text{
  font-size: 15px;
}
.btn{
  border-radius: 5px;
}
.only-btn .botui-message-content{
  background-color: transparent;
  padding-left: 0;
}
